*{
    margin: 0;
    padding: 0;
    text-align: center;
    
}
h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;

}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #b9cbdf;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.choice:hover {
    opacity: 0.5;
    cursor: pointer;


}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 2rem;
}
#player-score, #computer-score{
    background-color: #b9cbdf;
    padding: 1rem 2rem;
    border-radius: 1rem;
}
.msg-container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg{
    background-color:#081b31 ;
    font-size: 1.5rem;
    color: #fff;
      display: inline;
    padding: 1rem;
    border-radius: 1rem;
  
}